.car_table .address_head{
	background-color: #fff;
    overflow: hidden;
    margin: 15px 0 0;
    padding: 0 30px;
}
/*头部进度*/
.car_schedule li:nth-child(1) span{
    background-color: #fff;
    border-color: #ff8f23;
    color: #ff8f23;
}
.car_schedule li:nth-child(2) i {
    color: #ff8f23;
}
/*收货人信息*/
.wnew{
	padding: 20px 0 10px;
	height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #d2d2d2;
    overflow: hidden;
}
.wnew h3{
	float: left;
	font-size: 18px;
    color: #555;
}
.wnew a{
	float: right;
	color: #438cde;
	font-size: 12px;
}
/*新增地址*/
.add_form{
	margin-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}
.add_address{
	float: left;
    width: 288px;
    height: 118px;
    padding: 20px 18px 18px 22px;
    border: 1px dashed #d2d2d2;
    margin: 10px 18px 0 0;
    color: #8c8c8c;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
.add_showRed{
	border-color: #F42424;
	float: left;
}
.add_address .item_tit{
	height: 20px;
    line-height: 20px;
}
.item_tit h4{
	font-size: 18px;
    float: left;
    color: #555;
}
.add_address .item_tel{
	height: 20px;
    line-height: 20px;
    margin-top: 20px;
}
.add_address .item_address{
	margin-top: 5px;
}
.add_address .gou{
	width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
    background-position: 0 -50px;
    
}
.addgou{
	background: url(../imges/dsc-icon.png) no-repeat;
}
/*地址栏删除和修改按钮*/
.add_news .add_form .address_celect>a{
	position: absolute;
    color: #f42424;
    top: -8px;
    right: 18px;
    display: none;
}
.add_news .add_form .address_celect .edit{
	right: 55px;
}


.add_address:hover .as{
	color: #F42424;
}
.add_address a{
	display: block;
    text-align: center;
    color: #8c8c8c;
    padding: 30px 0;
}
.add_address a i{
	font-size: 32px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: #d2d2d2;
}
.add_address a span{
	display: block;
}

/*支付方式*/
.payway{
	margin-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}
.pay_item{
	float: left;
    width: auto;
    padding: 0 25px !important;
    height: 38px;
    line-height: 38px;
    border: 1px solid #f42424;
    margin-right: 20px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}
.pay_item b{
	display: block;
	position: absolute;
    background: url(../imges/dsc-icon.png) no-repeat 0 -50px;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
}
/*商品信息*/
.good_new_wrap{
	margin-top: 20px;
    padding-bottom: 30px;
}
.good_new .good_tit{
	height: 30px;
    padding: 5px 0;
    overflow: hidden;
}
.good_tit_left{
	float: left;
	line-height: 30px;
}
.good_tit_left>a{
	font-size: 14px;
    font-weight: bold;
}
.good_tit_left>i{
	color: #7b75f3;
	margin-left: 5px;
}
.good_tit_right{
	float: right;
	font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.send_way{
	float: left;
    color: #8c8c8c;
    line-height: 30px;
}
.express{
	float: left;
    height: 30px;
}
.express ul li{
	float: left;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    padding: 0 15px;
    min-width: 68px;
    text-align: center;
    margin-right: 0px;
    cursor: pointer;
    border-color: #f42424;
    color: #f42424;
}

/*商品信息详情*/
.good_new .good_cont{
	overflow: hidden;
    padding: 10px 0;
    background-color: #f8f8f8;
}
.cg_item{
	padding: 20px 0;
    margin: 0 30px;
    overflow: hidden;
}
.cg_item>div{
	float: left;
    color: #333;
    font-size: 16px;
    text-align: center;
    margin-right: 14px;
}
.cg_item .cg_name{
	width: 670px;
    margin-right: 20px;
    text-align: left;
}
.cg_name a .p_img{
	width: 48px;
    height: 48px;
    float: left;
    border: 1px solid #d2d2d2;
}
.cg_name a .p_info{
	float: left;
    margin-left: 15px;
    width: calc(100% - 65px);
}
.cg_name .p_info .p_name{
	font-size: 12px;
	line-height: 25px;
    height: 25px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.cg_name .p_info .p_attr{
	line-height: 20px;
    color: #8c8c8c;
    font-size: 12px;
    margin-top: 5px;
}
.cg_item .cg_price{
	float: left;
    color: #333;
    font-size: 16px;
    text-align: center;
    margin-right: 14px;
    width: 120px;
}
.cg_item .cg_num{
	width: 55px;
}
.cg_item .cg_state{
	width: 50px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
}
.cg_item .cg_sum{
	width: 120px;
    font-weight: bold;
    color: #f42424;
    margin-right: 0;
    text-align: right;
}

/*备注部分*/
.leave_message{
	margin-top: 45px;
    overflow: hidden;
}
.leave_txt{
	float: left;
    height: 38px;
    line-height: 38px;
    padding: 0 12px;
    border:1px solid #d2d2d2;
    font-size: 14px;
    width: 830px;
    outline: none;
}
.leave_message .promot{
	line-height: 40px;
    color: #8c8c8c;
    margin-left: 18px;
    font-size: 12px;
}
/*发票信息*/
.tips_new_content{
	position: relative;
    margin-left: 15px;
    float: left;
    top: -12px;
}
.tips_new_content b{
	position: absolute;
    top: 12px;
    left: -8px;
    width: 9px;
    height: 17px;
    vertical-align: middle;
    background: url(../imges/arrow-left.png) 0 0 no-repeat;
}
.tips_new_content>span{
	float: left;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    border: 1px solid #ddd;
}
.tips_new_content>span i{
	width: 12px;
    height: 16px;
    background: url(../imges/light-icon.png) 0 0 no-repeat;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -1px;
    margin-right: 5px;
}
.fapiao{
	margin-top: 20px;
    padding-bottom: 30px;
    display: block;
    position: relative;
}
.fapiao>span{
	font-size: 14px;
}
.fapiao>span em{
	margin-right: 10px;
}
.fapiao>a{
	font-size: 14px;
    color: #f42424;
    margin-left: 10px;
}
/*其他信息*/
.other_message{
	margin-top: 20px;
    padding-bottom: 30px;
    display: block;
    position: relative;
}
.other_message>div{
	margin-bottom: 15px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.other_message .other_item{
	/*overflow: hidden;*/
}
.other_message .other_item .item_lebel{
	float: left;
    color: #8c8c8c;
    font-size: 14px;
}
.other_message .other_item .item_value{
	float: left;
}
.other_txt{
	height: 38px;
    line-height: 38px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
    width: 260px;
    outline: 0;
    float: left;
}
.other_sp{
	float: left;
	margin-left: 10px;
    font-size: 14px;
    color: #8c8c8c;
}
/*缺货处理*/
.less_goods{
	overflow: hidden;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0px;
}
.less_goods .less_item_tit{
	float: left;
    color: #8c8c8c;
    font-size: 14px;
}
.less_item_main{
	float: left;
}
.less_item_main>div{
	float: left;
	margin-top: 10px;
	padding-left: 28px;
    background: url(../imges/radio.png) 0 0px no-repeat;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    display: block;
    margin-right: 20px;
    cursor: pointer;
    color: #8c8c8c;
}
.less_item_main .less_one{
	background: url(../imges/radio_checked.png) 0 0px no-repeat;
}
/*结算列表*/
.ad_address>span{
	margin-right: 20px;
	font-size: 12px;
}

/*地址修改输入栏*/
.new_address{
	display: none;
	width: 900px;
	padding: 8px;
	background-color: rgba(0,0,0,0.1);
	position: fixed;
    left: 301px;
    top: 50%;
    margin-top: -265px;
    z-index: 10;
}
.wt_box_content{
	background-color: #FFFFFF;
}
.address_form_tit{
    padding: 0 16px;
    height: 31px;
    line-height: 31px;
    background: #f3f3f3;
    overflow: hidden;
}
.address_form_tit span{
	display: block;
}
.address_form_tit span:nth-child(1){
	float: left;
	font-weight: normal;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
}
.address_form_tit span:nth-child(2){
	float: right;
	cursor: pointer;
	margin-top: 10px;
    width: 13px;
    height: 13px;
    background: url(../imges/dialog.png) no-repeat;
    font-size: 0;
}
.address_form_main{
	padding: 10px 10px;
    overflow: auto;
    background: #fff;
}
.address_form_main form>div{
	margin: 10px 0px;
	overflow: hidden;
}
.form_table{
	float: left;
	padding: 6px 9px;
    width: 100px;
    text-align: right;
    height: 22px;
    line-height: 22px;
}
.form_value{
	float: left;
	line-height: 34px;
}
.form_table .red{
	margin-top: 5px;
    margin-right: 3px;
    color: #f42828;
}
.form_value .form_input{
	height: 32px;
    line-height: 32px;
    font-size: 12px;
    border: 1px solid #d2d2d2;
    background: #fff;
    outline: none;
    padding: 0 10px;
    width: 178px;
    margin-right: 10px;
    float: left;
}
.form_value .redtip{
	color: #F42424;
	display: none;
}
.fl{
	float: left;
}
.form_value .wdl{
	width: 118px;
	height: 38px;
	margin-right: 10px;
	display: inline-block;
    vertical-align: middle;
    border: 1px solid #d3d3d3;
    background: #fff;
    font-size: 12px;
}
.form_value .wdl dt{
	position: relative;
}
.form_value .wdl dt span{
	display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form_value .wdl dt i{
	position: absolute;
	top: 2px;
	right: 12px;
	font-size: 12px;
	color: #AFACAC;
}
.form_value .input_long{
	width: 500px;
}
.notic{
	float: left;
    color: #8c8c8c;
}
/*地址递交按钮*/
.address_submit_main{
	text-align: left;
    margin: 20px 0 20px 20px;
    margin-left: 118px;
}
.address_form_main a{
	font-style: normal;
	cursor: pointer;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 3px;
    color: #323333;
    font-size: 12px;
    font-weight: 400;
    padding: 0 14px;
    border: 1px solid #ddd;
    margin-right: 10px;
    display: inline-block;
}
.address_submit_main a:nth-child(1){
	height: 38px;
    line-height: 38px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    background-color: #f43434;
    color: #fff;
    border-color: #f43434;
}
.address_submit_main a:nth-child(2){
	height: 38px;
    line-height: 38px;
    font-size: 14px;
    width: 60px;
    text-align: center;
}
