/* 全部商品分类隐藏 */
.parcat_tab{
	display: none;
}

.par_section{
	clear: both;
	color: #555;
}
.particular_tit{
	background-color: #f8f8f8;
	width: 100%;
}
.tit_main{
	padding: 7px 0 8px;
	height: 25px;
	line-height: 25px;
}
.tit_main:after{
	content: "";
	display: block;
	clear: both;
}
.tit_main>div{
	float: left;
	margin-right: 7px;
	position: relative;
}
.parts_music{
	position: relative;
}
.trigger{
	display: inline-block;
    padding: 0 10px;
    height: 23px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
}
.tr1::after{
	content: "";
	display: block;
	width: 100px;
	height: 1px;
	background-color: white;
	position: absolute;
	left: 1px;
	bottom: 1px;
	z-index: 4;
}
.tr2::after{
	content: "";
	display: block;
	width: 96px;
	height: 1px;
	background-color: white;
	position: absolute;
	left: 1px;
	bottom: 1px;
	z-index: 2;
}
.drop_main{
	display: none;
    width: 219px;
    padding: 6px 0 4px 10px;
    position: absolute;
    top: 24px;
    border: 1px solid #F42424;
    background-color: #fff;
}
.dro1{
	left: 0;
	z-index: 3;
}
.dro2{
	left: 0px;
	z-index: 1;
}
.drop3{
	left: 0px;
}
.drop_main ul li{
	float: left;
    width: 68px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 5px 2px 0;
}
.drop_main ul li a{
	color: #555;
}
.drop_main ul li a:hover{
	color: #F42424;
}
.tit_main>span{
	width: 300px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 商品明细 */
.main_top{
	margin-top: 20px;
}
.preview{
	float: left;
    width: 400px;
    height: auto;
	position: relative;
}
.gallery{
	width: 398px;
    height: 398px;
    border: 1px solid #d2d2d2;
    text-align: center;
	position: relative;
}
.gallery img{
	width: 100%;
	max-width: 398px;
    max-height: 398px;
}
/* 左边小图 */
#xbox{
	z-index: 10;
    position: absolute;
    overflow: hidden;
    display: none;
    width: 197px;
    height: 234px;
    opacity: 0.5;
    left: 16px;
    top: 137px;
	background: red;
}
/* 右边大图 */
.right_big{
	display: none;
	width: 400px;
	height: 470px;
	background-color: white;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	position: absolute;
	left: 420px;
	top: 0px;
	z-index: 1;
}
.right_big img{
	display: block;
	position: absolute;
}

.spelist{
	width: 398px;
    height: 60px;
    border: 1px solid #d2d2d2;
    border-top: 0;
    padding: 14px 0;
}
.spelist a{
	float: left;
    width: 30px;
    margin: 18px 0 0 0;
    text-align: center;
}
.spac_item{
	float: left;
    width: 330px;
    height: 62px;
    overflow: hidden;
}
.spac_item ul{
	width: 405px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
	transition: 1s;
}
.spac_item ul li{
	float: left;
	width: 60px;
	height: 60px;
    margin-right: 5px;
	border: 1px solid #fff;
	cursor: pointer;
}
.spac_item ul li img{
	width: 100%;
}
.short_share{
	height: 20px;
    margin-top: 20px;
	margin-left: 5px;
}
.short_share>div{
	display: inline-block;
}
.duibi label{
	padding-right: 15px;
    border-right: 1px solid #d2d2d2;
}
.short_share>a:nth-child(2){
	line-height: 20px;
    margin-left: 15px;
}
.short_share>a:nth-child(2) em{
	padding-right: 15px;
    border-right: 1px solid #d2d2d2;
}


/* 分享 */
.share{
	width: 50px;
    height: 25px;
}
.share a{
	width: 50px;
    height: 25px;
    background: none;
    margin: 0px 0px 0px 15px;
    padding: 0px;
}
/* 举报 */
.short_share>a:nth-child(4){
	display: inline-block;
	float: right;
}
.short_share a:hover{
	color: #F42424;
}

/* 右边产品详情 */
.product_wrap{
	float: left;
    width: 600px;
    margin: 0 30px;
}
.name{
	font-size: 16px;
    color: #555;
    font-weight: 700;
    margin-bottom: 10px;
}
.newp{
	font-size: 14px;
    color: #f42424;
    margin-bottom: 10px;
}
.sumary{
	position: relative;
}
.price{
	padding: 22px 0 12px;
	background-image: url(../imges/summary-bg.jpg);
	margin-bottom: 5px;
}
.si_tit{
	display: inline-block;
    padding-left: 20px;
    width: 50px;
    margin-right: 10px;
    line-height: 24px;
    color: #8c8c8c;
}
.si_wrap{
	display: inline-block;
	
}
.shop-price{
	font-size: 30px;
    height: 24px;
    line-height: 24px;
    float: left;
    margin-left: -6px;
    color: #F42424;
}
.price_notify{
	width: 52px;
    height: 20px;
    line-height: 20px;
    background: url(../imges/dsc-icon.png) -296px -44px no-repeat;
    display: inline-block;
    padding-left: 8px;
    color: #fff;
    margin: 3px 0 0 8px;
    cursor: pointer;
    font-size: 12px;
}
.si_info{
	position: absolute;
    top: 30px;
    right: 18px;
}
.si_info>div{
	display: inline-block;
	padding-right: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    border-right: 1px solid #d2d2d2;
}
.si_info>div:nth-child(2){
	margin-right: 0;
    border-right: 0;
    padding-right: 0;
}
.si_info>div em{
	font-size: 14px;
    color: #b31919;
    margin-left: 8px;
}
/*手机二维码*/
.ophone_code{
	position: absolute;
    top: 47px;
    right: 20px;
}
.ophone_code .eq_tit{
	color: #8c8c8c;
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
}
.eq_pop{
	display: none;
	position: absolute;
	left: -97px;
	top: 20px;
}

.sumary_info{
	margin-top: 15px;
}
.sumary_info>div{
	overflow: hidden;
	margin-bottom: 5px;
	width: 100%;
}
.sumary_info>div:nth-child(1)::after{
	content: "";
	display: block;
	clear: both;
}
.pei{
	display: inline-block;
	padding-left: 20px;
    width: 50px;
    margin-right: 10px;
    line-height: 24px;
    color: #8c8c8c;
}
.sanji{
	display: inline-block;
	line-height: 24px;
}
.store_select{
	display: inline-block;
	
}
.select_tit{
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #d2d2d2;
	height: 23px;
	line-height: 23px;
	cursor: pointer;
}
.area-warap{
	display: inline-block;
}
.store_prompt{
	display: inline-block;
	height: 25px;
    line-height: 25px;
    color: #999;
    margin-left: 10px;
}
.store_prompt strong{
	font-size: 16px;
    color: #666;
}
.is_service{
	overflow: hidden;
}
.is_service .si_tit{
	float: left;
    padding-left: 20px;
    width: 50px;
    margin-right: 10px;
    line-height: 24px;
    color: #8c8c8c;
}
.is_service .si_wrap{
	float: left;
    line-height: 24px;
    width: 520px;
}
.si_wrap>div{
	float: left;
}
.si_wrap>div>a{
	color: #b31919;
}
.si_wrap>div>a:hover{
	color: #F42424;
}
.pmF{
	padding-left: 10px;
	color: #8c8c8c;
}
/* 可用积分 */
.is_integral{
	overflow: hidden;
}
.is_integral .si_tit{
	float: left;
    padding-left: 20px;
    width: 56px;
    margin-right: 10px;
    line-height: 24px;
    color: #8c8c8c;
}
.is_integral .si_swarp{
	float: left;
	line-height: 24px;
    width: 500px;
}
.sit_tit{
	float: left;
    padding-left: 20px;
    width: 50px;
    margin-right: 10px;
    line-height: 24px;
    color: #8c8c8c;
}
.si_swarp{
	float: left;
	line-height: 24px;
	width: 520px;
}
.type .sit_tit{
	width: 60px;
}
.type .si_swarp ul{
	overflow: hidden;
}
.type .si_swarpUl .si_item{
	float: left;
    border: 1px solid #d2d2d2;
    padding: 2px;
    margin: 0 10px 10px 0;
    position: relative;
	border-color: #f42424;
	margin-right: 0;
	position: relative;
}
.si_swarpUl a{
	display: inline-block;
}
.si_swarpUl a img{
	vertical-align: middle;
    display: inline-block;
	width: 24px;
    height: 24px;
}
.si_swarpUl a i{
	color: #555555;
	padding: 0 10px;
	font-style: normal
}
.si_swarpUl .si_item b{
	display: block;
	position: absolute;
	position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: url(../imges/dsc-icon.png) 0 0 no-repeat;
}
/* 数量按钮 */
.si_swarp .number_btn{
	float: left;
}
.buy_num{
	border: 1px solid #d2d2d2;
    width: 28px;
    height: 28px;
    float: left;
    outline: 0;
    text-align: center;
}
.buy_btn{
	float: left;
    width: 22px;
    height: 28px;
    border: 1px solid #d2d2d2;
    border-left: 0;
}
.buy_btn a{
	float: left;
    width: 22px;
    height: 14px;
    line-height: 14px;
    text-align: center;
}
.buy_btn a:nth-child(2){
	height: 13px;
    border-top: 1px solid #d2d2d2;
	color: #ccc;
}
.buy_btn a i{
	font-size: 12px;
}
#good_num{
	line-height: 30px;
    display: inline-block;
    margin-left: 14px;
}

.choose_btn{
	margin-top: 10px;
    padding-left: 20px;
	margin-left: 60px;
}
.choose_btn a{
	height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    padding: 0 25px;
    cursor: pointer;
    border: 0;
    margin-bottom: 10px;
}
.buynow_btn{
	background-color: #ff8f22;
}
.append_btn{
	background-color: #f42424;
	margin-right: 0;
	padding: 0 32px;
}
.choose_btn a:hover{
	opacity: 0.9;
}

/* 右边看了又看部分 */
.track{
	float: left;
	width: 140px;
	/* height: auto; */
	/* background-color: red; */
}
.track_top{
	text-align: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
	position: relative;
}
.track_tit{
	font-size: 14px;
    padding: 0 10px;
    background-color: #fff;
    display: inline-block;
    color: #8c8c8c;
}
.track_tit::before{
	content: "";
	display: block;
	width: 35px;
	height: 0px;
	border: 1px dashed #CCCCCC;
	position: absolute;
	left: 0px;
	top: 10px;
}
.track_tit::after{
	content: "";
	display: block;
	width: 35px;
	height: 0px;
	border: 1px dashed #CCCCCC;
	position: absolute;
	right: 0px;
	top: 10px;
}
.track_center{
	max-height: 550px;
    overflow: hidden;
}
.track_center ul{
	transition: 1s;
}
.track_center ul li{
	width: 140px;
    height: 180px;
    position: relative;
    margin-bottom: 5px;
}
.pi_img{
	width: 140px;
	height: 140px;
}
.pi_img img{
	width: 100%;
	height: 100%;
}
.pi_name{
	height: 20px;
	font-size: 12px;
	width: 140px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pi_name a{
	font-size: 12px;
}
.pi_name a:hover{
	color: #F42424;
}
.pi_price{
	height: 20px;
    line-height: 20px;
    text-align: center;
    color: #f42424;
	font-size: 12px;
}
/* 上下按钮 */
.track_bottom{
	text-align: center;
    font-size: 0;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
}
.track_bottom a:nth-child(1){
	display: inline-block;
	margin-right: 20px;
}
.track_bottom a i{
	font-size: 24px;
    color: #8c8c8c;
}


/* 商品详情 */
.main_button{
	width: 100%;
    min-height: 520px;
    position: relative;
    z-index: 4;
    overflow: hidden;
    margin: 26px 0 0 0;
    padding-top: 20px;
}

.mb_left{
	float: left;
	width: 200px;
}
.mb_left a:hover{
	color: #F42424;
}
.mb_left>div{
	border: 1px solid #d2d2d2;
    margin-bottom: 20px;
    width: 198px;
    background-color: #fff;
}
.mt{
	height: 38px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    background-color: #f8f8f8;
}
.mt h4{
	font-size: 14px;
    line-height: 38px;
    font-weight: bold;
    color: #555;
    padding-left: 14px;
    float: left;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mt a{
	float: left;
    margin: 6px 0 0 5px;
}
.mt a i{
	font-size: 22px;
	color: #F42424;
}
.mc{
	box-sizing: border-box;
	padding: 20px 14px;
	text-align: center;
}
.mc a img{
	max-width: 150px;
    max-height: 75px;
}

/* 店内客服 */
.service .mc ul{
	padding: 10px;
}
.service .mc ul li{
    width: 84px;
    padding-left: 5px;
}
.service_ke{
	display: block;
}
.service_ke i{
    margin-top: 8px;
	width: 26px;
    height: 21px;
    background-position: -260px 0;
	font-size: 20px;
	color: red;
}
.icon-kefu1 span{
	margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 相关分类 */
.mc_swarp{
	padding: 0 14px;
}
.items{
	padding: 5px 0;
}
.items li{
	text-align: left;
	line-height: 28px;
}
.items li a{
	color: #8c8c8c;
    display: inline-block;
    padding-left: 10px;
    background: url(../imges/spirit.jpg) 0 12px no-repeat;
}

/* 新品分类 */
.fenlei .mc{
	padding: 0px 0px;
	box-sizing: content-box;
	/* overflow: hidden; */
	/* height: 500px; */
}
.me_tab{
	padding-left: 1px;
    height: 38px;
    border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
.mc_tab li{
	border: 1px solid #d2d2d2;
    height: 38px;
    line-height: 38px;
    width: 65px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-left: -1px;
    cursor: pointer;
}
.mc_tab .curr{
	border-top: 2px solid #f42424;
    background-color: #fff;
	border-bottom: 1px solid  transparent;
    height: 37px;
    color: #f42424;
}
.mc_content{
	border: 1px solid #d2d2d2;
    border-top: 0;
	box-sizing: border-box;
	padding: 23px 14px 0;
    overflow: hidden;
}
.mcm_left,.mcm_right{
	float: left;
}
.mc_content .mcm_left{
	width: 25px;
	height: 587px;
    position: relative;
}
.spirit{
	width: 1px;
    height: calc(100% - 54px);
    border-left: 1px dashed #d2d2d2;
    position: absolute;
    left: 12px;
    top: 53px;
    z-index: 1;
}
.ranknum{
	width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-bottom: 168px;
}
.mcm_left .rank1{
	background-color: #f42424;
	/* margin-top: 53px; */
}
.mcm_left .rank2{
	background-color: #F42424;
}
.mcm_left .rank3{
	background-color: #F42424;
}
.mcm_right{
	margin-left: 13px;
	width: 130px;
	display: none;
}
.mc_content .show1{
	display: block;
}

.mcm_right ul li{
	margin-bottom: 15px;
}
.p1_img{
	width: 130px;
	height: 130px;
}
.p1_img a img{
	width: 100%;
	height: 100%;
}
.p1_name{
	margin-top: 5px;
    width: 100%;
}
.p1_name a{
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.p1_price{
	font-size: 14px;
    height: 20px;
	color: #F42424;
}
/* 历史记录 */
.qing{
	color: #438cde;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}
.mc1 .mc-warp{
	padding: 0 14px;
}
.mc1 .mc-warp ul{
	margin-top: 14px;
}
.mc-warp ul li{
	margin-bottom: 15px;
}
.mc-warp ul li .p2_img{
	width: 170px;
    height: 170px;
}
.p2_img a img{
	width: 100%;
	height: 100%;
}
.p2_name{
	margin-top: 5px;
    width: 100%;
}
.p2_name a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.p2_price{
	font-size: 14px;
	height: 20px;
	color: #F42424;
}

.mb_right{
	float: right;
	margin-left: 30px;
    width: 970px;
}
.g_tab{
	width: 970px;
	background-color: white;
	position: relative;
}
.g_tab::after{
	content: "";
	display: block;
	clear: both;
}
.g_ul{
	padding-left: 1px;
    border-bottom: 1px solid #d2d2d2;
    height: 38px;
    float: left;
    width: 100%;
}
.g_ul li{
	float: left;
    border: 1px solid #d2d2d2;
    margin-left: -1px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    font-weight: bold;
    cursor: pointer;
}
.g_ul li.curra{
	border-top: 2px solid #f42424;
    height: 37px;
    background-color: #fff;
    color: #f42424;
    border-bottom: 1px solid transparent;
}

.inputcat{
	position: absolute;
	right: 0px;
	top: 0px;
}
.witem{
	float: right;
	height: 30px;
	top: 3px;
}
.ophone_code1{
	float: left;
	margin: 3px 20px 0 0;
	text-align: right;
}
.eq_tit1{
	color: #8c8c8c;
    line-height: 24px;
    cursor: pointer;
}
.eq_pop1{
	position: relative;
    z-index: 99;
    right: -52px;
    width: 180px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgb(204, 204, 204);
    text-align: center;
    margin-top: 8px;
    display: none;
}
.inner_cat{
	float: right;
}
.in_cat{
	height: 28px;
    line-height: 28px;
    margin-right: 0;
    background-color: #f42424;
    border-color: #f42424;
    color: #fff;
    padding: 0 10px;
    border: 1px solid #f42424;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.g_flo{
	height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    display: none;
}
.flo_show{
	display: block;
}
.gm_title{
	overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    margin-top: 30px;
}
.gm_title h3{
	font-size: 14px;
    padding-left: 8px;
    border-left: 4px solid #f42424;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 10px;
    /*float: left;*/
}
.gm_top_list{
	margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.gm_top_list ul{
	width: 100%;
	font-size: 12px;
}
.gm_top_list ul::after{
	content: "";
	display: block;
	clear: both;
}
.gm_top_list ul li{
	width: 25%;
    float: left;
    margin-top: 10px;
}
.gm_top_list ul li span{
	width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.more_par{
	padding-right: 20px;
    margin-top: -5px;
    text-align: right;
    overflow: hidden;
}
.more_par a{
    font-size: 12px;
	color: skyblue;
}
.more_par a:hover{
	color: #F42424;
}

.pname,.oldpice,.newprice{
	padding: 5px 0px;
}
.pname{
	padding-left: 40.0px;
    padding-right: 5.0px;
    width: 200.0px;
    text-decoration: none;
    font-size: 15.0px;
    color: #875c49;
    font-family: 微软雅黑;
}
.oldpice{
	adding-left: 40.0px;
    padding-right: 5.0px;
    width: 200.0px;
    text-align: center;
    text-decoration: line-through;
    font-size: 12.0px;
    color: #a1a1a1;
    font-family: 微软雅黑;
}
.newprice span{
	display: inline-block;
	float: left;
	font-size: 20px;
	color: #F42424;
}
.newprice span em{
	color: #965434;
    font-size: 17px;
    padding-left: 10px;
}
.newprice a{
	display: inline-block;
	/*float: right;*/
	margin-left: 40px;
	line-height: 28px;
}
.newprice a:hover{
	color: #F42424;
}
.can,.ping,.talk{
	overflow: hidden;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}
.can_main{
	border-top: 1px solid #eee;
    padding: 12px 0;
    line-height: 220%;
    color: #999;
    margin-top: -1px;
    font-size: 12px;
}
.can_main h4{
	width: 110px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    float: left;
}
.can_main dl{
	margin-left: 110px;
}
.can_main dt{
	width: 150px;
    float: left;
    text-align: right;
}
.can_main dd{
	margin-left: 190px;
}
.gm_title h3{
	float: left;
}
.gm_title ul{
	float: left;
    margin-left: 20px;
}
.gm_title ul li{
	float: left;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
.gm_title ul li a{
	float: left;
    font-size: 14px;
    line-height: 14px;
    margin-right: 30px;
    cursor: pointer;
}
.gm_title ul li a:hover{
	color: #F42424;
}
.gm_title ul .curr a{
	color: #F42424;
}
.gm_wrap .praise{
	padding: 0 0 15px;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}
.rale{
	float: left;
    margin-left: 30px;
    padding: 6px 28px 6px 0;
    border-right: 1px solid #d2d2d2;
}
.rale strong{
	font-size: 48px;
    color: #f42424;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-weight: normal;
    float: left;
}
.rale .rate_span{
	float: left;
    color: #8c8c8c;
    width: 50px;
}
.rate_span .tit{
	margin: 5px 0 0 8px;
    float: left;
}
.rale .bf{
	float: left;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    color: #f42424;
}
.actor_new{
	float: left;
    margin-left: 34px;
    width: 740px;
    height: 60px;
    overflow: hidden;
}
.no-people{
	font-size: 14px;
    color: #8c8c8c;
    background: url(../imges/not-imp.png) no-repeat;
    padding-left: 70px;
    line-height: 50px;
    margin: 5px 0 0 50px;
}
.com_list{
	padding: 30px 20px;
}
.com_list img{
	display: block;
	margin: 50px auto;
}
.com_list p{
	width: 100px;
	margin: 0 auto;
}
.thead{
	float: left;
    width: 100%;
    border-bottom: 1px dotted #dcdcdc;
}
.thead li{
	float: left;
    line-height: 30px;
    padding-bottom: 5px;
}
.td1{
	width: 470px;
    padding-left: 30px;
    text-align: left;
}
.td2{
	width: 80px;
    text-align: center;
}
.td3{
	width: 80px;
    text-align: center;
}
.td4{
	width: 150px;
    text-align: center;
}
.td5{
	width: 130px;
    text-align: center;
}
