body{
	background-color: #f8f8f8;
}
.whead{
	border-bottom: 2px solid #f42424;
    margin-bottom: 16px;
    padding-bottom: 10px;
    background-color: #fff;
}
.header_main{
	overflow: hidden;
}

.car_logo{
	float: left;
}
.wt_search{
	float: right;
	margin: 30px 0 0 78px;
}
.logo_img{
	float: left;
	margin-right: 30px;
}
.logo_img a{
	display: table-cell;
    height: 100px;
    vertical-align: middle;
}
.logo_img a img{
	max-width: 159px;
    max-height: 100px;
}
.car_logo .tit{
	float: left;
    font-size: 18px;
    color: #8c8c8c;
    margin-top: 36px;
}
.car_logo .tit em{
	color: #F42424;
}

/*头部搜索栏*/
.wt_search form::after{
	content: "";
	display: block;
	clear: both;
}
#search_text{
	border: 1px solid #F42424;
    padding: 9px 8px;
    width: 332px;
    outline: none;
    float: left;
}
#car_search_button{
	float: left;
	height: 39px;
	width: 50px;
    line-height: 34px;
    border: 1px solid #F42424;
    background-color: #f42424;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    float: left;
    outline: 0;
}
#car_search_button i{
	font-size: 28px;
}

/*购物车主体部分*/

/*购物车标题*/
.car_tit{
	width: 100%;
    height: 36px;
    overflow: hidden;
}
.car_schedule{
	float: left;
	height: 36px;
}
.car_schedule li{
	float: left;
}
.car_schedule li span{
	display: inline-block;
    float: left;
    width: 126px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
    border: 1px solid #f8f8f8;
    border-radius: 18px;
}
.car_schedule .curr span{
	background-color: #ff8f23;
    border-color: #ff8f23;
    color: #fff;
}
.car_schedule li i{
	width: 13px;
    margin: 7px 12px 0;
    display: inline-block;
    vertical-align: middle;
    color: #d2d2d2;
	font-size: 18px;
}
.car_schedule li:nth-child(1) i{
	color: #ff8f23;
}
.sp_area{
	float: right;
    color: #8c8c8c;
    position: relative;
    margin-top: 3px;
}
.sp_area .txt{
	float: left;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin-right: 15px;
}
.sp_area .select{
	float: left;
}
.sp_area .select .tit{
	padding: 0 10px;
    border: 1px solid #d2d2d2;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    background-color: #fff;
}
.select .tit i{
	font-size: 12px;
}

.car_table{
	clear: both;
	margin-top: 16px;
}
.car_head{
	background-color: #fff;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}
.car_head>div{
	float: left;
    height: 50px;
    font-size: 14px;
    color: #8c8c8c;
}
.checkbox1{
	width: 150px;
	padding-left: 20px;
}
.c_good{
	width: 430px;
}
.c_props{
	width: 142px;
}
.c_price{
	width: 166px;
}
.c_num{
	width: 132px;
}
.c_add{
	width: 90px;
}
.c_cao{
	width: 60px;
}
#checkbox{
	display: none;
}
.checkbox1 label{
	background-position: 0 3px;
    cursor: pointer;
    padding-left: 25px;
    background: url(../imges/checkbox_12x12.png) 0 1px no-repeat;
}
/*中部,购物车详情*/
.car_content{
	margin-top: 10px;
}
.car_footer{
	    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    font-size: 14px;
    color: #8c8c8c;
}
.item_list{
	padding: 20px;
    background-color: #fff;
}
.item_form >div{
	float: left;
	box-sizing: border-box;
	color: #555;
    font-size: 12px;
}
.w_good{
	width: 500px;
}
.w_good .good_item{
	margin-right: 75px;
}
.good_item{
	padding: 0px 0 15px 75px;
	position: relative;
	overflow: hidden;
}
.good_item .p_img{
	float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #d2d2d2;
}
.p_img img{
	width: 100%;
    height: 100%;
}
.item_msg{
	float: left;
    width: calc(100% - 92px);
    margin-left: 20px;
}
.w_props{
	width: 142px;
	padding: 0px 15px 0 0;
}
.w_price{
	width: 166px;
	padding: 0px 28px 0 0;
}
.w_price span{
	/*display: block;*/
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
.w_num{
	width: 132px;
}
.yh{
	clear: both;
}
.w_add{
	width: 90px;
	/*padding: 0px 10px 0 0;*/
}
.w_add>span{
	font-size: 16px;
    font-weight: 700;
    color: #333;
}
.w_cao{
	width: 55px;
}
.w_cao a{
	display: block;
    font-size: 12px;
    color: #438cde;
    margin-bottom: 5px;
}
.w_cao a:hover{
	color: #F42424;
}
.w-check{
	position: absolute;
    left: 10px;
}
.char_check{
	float: left;
	padding-left: 20px;
}
#checkboxb{
	/* display: none !important; */
	background-position: 0 3px;
	cursor: pointer;
	padding-left: 25px;
	background: url(../imges/checkbox_12x12.png) 0 1px no-repeat;
}

/* 购物车结算底部 */
.car_footer{
	margin-top: 10px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    font-size: 14px;
    color: #8c8c8c;
}
.car_check{
	padding-left: 20px;
	float: left;
}
#checkbox_footer{
	background-position: 0 3px;
	cursor: pointer;
	padding-left: 25px;
	background: url(../imges/checkbox_12x12.png) 0 1px no-repeat;
}
.opration{
	float: left;
}
.opration a{
	margin-left: 20px;
    color: #8c8c8c;
}
.car_footrt_right{
	float: right;
}
.car_footrt_right>div{
	float: right;
}
#btn_area{
	width: 160px;
    height: 50px;
    border: 0;
    background-color: #f42424;
    color: #fff;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
	outline: none;
}
.price_num{
	margin-right: 25px;
}
#addPrice{
	font-size: 24px;
    font-weight: 700;
    color: #f42424;
}
.reduce_sum{
	margin-right: 25px;
}
#save_num{
	color: #333333;
}
.amount_sum{
	margin-right: 25px;
}